@font-face {
	font-family: "Azonix";
	src: url("Azonix.otf") format('truetype');
}

@font-face {
	font-family: "policeboutons";
	src: url("PoetsenOne-Regular.ttf") format('truetype');
}

html {
	margin:auto;
	height:100%;
	width:100%;
	padding:0;
}

body {
	position:absolute;
	margin : 0;
	padding:0;
	background-image : url(../donnees/fond.jpg);
	background-size : cover;
	height: 100%;
	width:100%;
}

* {
	outline: 0;
}

#box {
	margin-top:10%;
	margin-left:auto;
	margin-right:auto;
	width:30%;
	height:50%;
	display:flex;
	flex-direction:column;
}

#titre {
	text-shadow:;display:box;
	background: #141414;
	padding: 30px;
	color:#fff;
	margin-top:10%;
	text-align:center;
	font-family:"Azonix";
	font-size:2.5em;
	-webkit-box-shadow: 7px 10px 25px -8px rgba(255,255,255,1);
	-moz-box-shadow: 7px 10px 25px -8px rgba(255,255,255,1);
	box-shadow: 7px 10px 25px -8px rgba(255,255,255,1);
}

#commencer {
	margin-left:auto;
	margin-right:auto;
	margin-top :25%;
	width:70%;
	color: #494949 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	padding: 20px;
	border: 4px solid #494949 !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
	font-family:"policeboutons";
	font-size:1.5em;
}

#commencer:hover {
	cursor:pointer;
	color: white !important;
	background: rgb(34, 107, 132);
	border-color: rgb(34, 107, 132) !important;
	transition: all 0.4s ease 0s;
}
